/*==========================================================================*\
  COMPONENTS
\*==========================================================================*/
/*==========================================================================*\
  # Typography
\*==========================================================================*/
@font-face {
  font-family: "Nokio";
  src: url("fonts/TYPEUNION-NOKIOREGULAR.OTF");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Nokio";
  src: url("fonts/TYPEUNION-NOKIOMEDIUM.OTF");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Como";
  src: url("fonts/Como-Light.eot");
  src: url("fonts/Como-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Como-Light.woff2") format("woff2"), url("fonts/Como-Light.woff") format("woff"), url("fonts/Como-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Como";
  src: url("fonts/Como-SemiBold.eot");
  src: url("fonts/Como-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Como-SemiBold.woff2") format("woff2"), url("fonts/Como-SemiBold.woff") format("woff"), url("fonts/Como-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Como";
  src: url("fonts/Como-ExtraBold.eot");
  src: url("fonts/Como-ExtraBold.eot?#iefix") format("embedded-opentype"), url("fonts/Como-ExtraBold.woff2") format("woff2"), url("fonts/Como-ExtraBold.woff") format("woff"), url("fonts/Como-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Como";
  src: url("fonts/Como-Heavy.eot");
  src: url("fonts/Como-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/Como-Heavy.woff2") format("woff2"), url("fonts/Como-Heavy.woff") format("woff"), url("fonts/Como-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "Como";
  src: url("fonts/Como-Bold.eot");
  src: url("fonts/Como-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Como-Bold.woff2") format("woff2"), url("fonts/Como-Bold.woff") format("woff"), url("fonts/Como-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Como";
  src: url("fonts/Como.eot");
  src: url("fonts/Como.eot?#iefix") format("embedded-opentype"), url("fonts/Como.woff2") format("woff2"), url("fonts/Como.woff") format("woff"), url("fonts/Como.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Como";
  src: url("fonts/Como-Medium.eot");
  src: url("fonts/Como-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Como-Medium.woff2") format("woff2"), url("fonts/Como-Medium.woff") format("woff"), url("fonts/Como-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "Como";
  src: url("fonts/Como-ExtraLight.eot");
  src: url("fonts/Como-ExtraLight.eot?#iefix") format("embedded-opentype"), url("fonts/Como-ExtraLight.woff2") format("woff2"), url("fonts/Como-ExtraLight.woff") format("woff"), url("fonts/Como-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

